.header {
  margin-top: 60px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;
}

.headerTitlesm {
  position: absolute;
  font-size: 30px;
  z-index: 99;
  margin-top: 1rem;
}

.headerTitlelg {
  position: absolute;
  font-size: 80px;
  z-index: 99;
  margin-top: 3rem;
}

.headerImg {
  position: relative;
  width: 100%;
  height: 450px;
  margin-top: 80px;
  object-fit: cover;
}
